<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
    <link th:href="@{'/stylesheets/application.css'}" rel="stylesheet"/>
    <link th:href="@{'/bootstrap-3.3.7-dist/css/bootstrap.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascript/jquery-3.3.1.min.js'}"></script>
    <script th:src="@{'/bootstrap-3.3.7-dist/js/bootstrap.js'}"></script>

</head>
<body>
<header th:insert="layouts/common.html :: header"></header>

<div id="users">

    <table th:cellpadding="30px" th:cellspacing="30px">
        <tr style="background-color: lightcyan">
            <th>User Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>UserName</th>
            <th>Role</th>
            <th>Email</th>
        </tr>
        <tr class="userdata" th:each="user, iterStat:${userList}"  th:style="${iterStat.odd}? 'background: #f0f0f2;' : 'background: #ffffff;'">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.userName}"></td>
            <!--<td th:text="${user.role}"></td>-->
            <td>
                <select>
                    <option th:each="role: ${T(com.projectreap.ProjectReap.enums.Role).values()}"
                            th:value="${role.getValue()}" th:text="${role.getValue()}">
                    </option>
                </select>
            </td>
            <td th:text="${user.email}"></td>
        </tr>

        <!--TODO:
        Create an ENUM with values USER, ADMIN, SUPER_ADMIN and iterate it to show a custom message to users basis on the ENUM value
        -->

    </table>


</div>
<footer th:insert="layouts/common.html :: footer"></footer>
</body>
</html>