<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{'/stylesheets/application.css'}" rel="stylesheet"/>
    <link th:href="@{'/bootstrap-3.3.7-dist/css/bootstrap.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascript/jquery-3.3.1.min.js'}"></script>
    <script th:src="@{'/bootstrap-3.3.7-dist/js/bootstrap.js'}"></script>

</head>
<body>
<header th:insert="layouts/common.html :: header"></header>
        This is admin dashboard.
<footer th:insert="layouts/common.html :: footer"></footer>
</body>
</html>