<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{'/stylesheets/application.css'}" rel="stylesheet"/>
    <link th:href="@{'/bootstrap-3.3.7-dist/css/bootstrap.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascript/jquery-3.3.1.min.js'}"></script>
    <script th:src="@{'/bootstrap-3.3.7-dist/js/bootstrap.js'}"></script>

</head>
<body>
<header th:insert="layouts/common.html :: header"></header>

<div class="admin-dashboard-section">
    <strong>This is admin dashboard.</strong>
        <br>
        <h3>Click this to see the users</h3>
        <a th:href="@{/admin/users}" class="btn btn-success">Userlist</a>

        <a th:href="@{/downloadCSV}" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-download-alt"></span> Download
        </a>
        <div id="users">
            <table th:cellpadding="30px" th:cellspacing="30px">

                <tr style="background-color: lightcyan">
                    <th>Id</th>
                    <th>Appreciated By User</th>
                    <th>Appreciated To User</th>
                    <th>Badge</th>
                    <th>Karma</th>
                    <th>Karma Reason</th>



                </tr>
                <tr class="userdata" th:each="user, iterStat:${WallofFameList}"  th:style="${iterStat.odd}? 'background: #f0f0f2;' : 'background: #ffffff;'">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.appreciatedBy.firstName}"></td>

                    <td th:text="${user.appreciatedUser.firstName}"></td>
                    <td th:text="${user.badge}"></td>
                    <td th:text="${user.karma}"></td>
                    <td th:text="${user.reason}"></td>


                </tr>

            </table>
        </div>
</div>

<footer th:insert="layouts/common.html :: footer"></footer>
</body>
</html>