<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link th:href="@{'/stylesheets/application.css'}" rel="stylesheet"/>
    <link th:href="@{'/bootstrap-3.3.7-dist/css/bootstrap.css'}" rel="stylesheet"/>
    <script th:src="@{'/javascript/jquery-3.3.1.min.js'}"></script>
    <script th:src="@{'https://code.jquery.com/ui/1.12.1/jquery-ui.js'}"></script>
    <script th:src="@{'/javascript/application.js'}"></script>
    <script th:src="@{'/bootstrap-3.3.7-dist/js/bootstrap.js'}"></script>

</head>
<body>
<header th:insert="layouts/common.html :: header"></header>

<div class="dashboard-section">
    <div class="row">
        <div class="col-lg-9 col-md-9 recognise">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <img th:src="@{'/images/star.png'}" alt="">
                    <h3>Recognize Newer</h3>
                </div>

                <div class="panel-body">
                    <div class="row">

                        <form action="#" id="recognize-submit">

                            <div class="col-lg-4 col-md-4 ">
                                <input type="text" class="select-newer"
                                       placeholder="Select a Newer"
                                       required="required" id="newer" th:text="${param.firstName}">

                                <span class="select-newer" autocomplete="off">
                                  <img th:src="@{'/images/newer.png'}" alt="">
                                </span>


                                <div id="searched-users" style="display:none"></div>
                            </div>

                            <div class="col-lg-3 col-md-3">
                                <div class="dropdown" id="select-badge">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        Select a Badge
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" th:each="user,iterStat:${currentUser}">
                                        <li>
                                            <a class="dropdown-item" th:href="@{'#'}" title="Gold">
                                                <img th:src="@{'/images/goldstar.png'}" alt="">
                                                Gold
                                                <span>
                                            (<i class="user-gold-badge" th:text="${user.badge.goldBadge}"></i>)
                                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" th:href="@{'#'}" title="Silver">
                                                <img th:src="@{'/images/silverstar.png'}" alt="">
                                                Silver
                                                <span>
                                                (<i class="user-silver-badge" th:text="${user.badge.silverBadge}"></i>)
                                            </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" th:href="@{'#'}" title="Bronze">
                                                <img th:src="@{'/images/bronzestar.png'}" alt="">
                                                Bronze
                                                <span>
                                                (<i class="user-bronze-badge" th:text="${user.badge.bronzeBadge}"></i>)
                                            </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 ">

                                <select class="form-control" required="required" name="karma" id="karma">
                                    <option value="">Select a Karma/Core Value</option>
                                    <option value="6">Karma: Extra Miler</option>
                                    <option value="3">Karma: Knowledge Sharing</option>
                                    <option value="1">Karma: Mentorship</option>
                                    <option value="5">Karma: Pat on the back</option>
                                    <option value="7">Karma: Customer Delight</option>
                                    <option value="10">Core Value: Continuous Learning and Improvement</option>
                                    <option value="9">Core Value: Contribution</option>
                                    <option value="13">Core Value: Diligence</option>
                                    <option value="12">Core Value: Empathy</option>
                                    <option value="14">Core Value: Openness to Feedback and Change</option>
                                    <option value="11">Core Value: Responsible Freedom</option>
                                </select>

                            </div>


                            <div class="form-group col-lg-12 col-md-12 karma-description">
                                <label for="comment">Reason:</label>
                                <textarea class="form-control" rows="5" id="comment">
                                    Please select a karma/core value first.....
                                </textarea>
                            </div>



                <div class="panel-footer recognize-button ">
                            <!--<div class="recognize-button">-->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Recognize</button>
                    </div>

                    <!--<input class="btn btn-primary" type="submit" name="submit" value="Recognize" class="recognize" id="submit">-->

                </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 mybadge">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <img th:src="@{'/images/star.png'}" alt="">
                    <h3>My Badges</h3>
                </div>
                <div class="panel-body">
                    <div class="badge-content" >
                        <div class="badge-content-left">
                            <img th:src="@{'/images/person.png'}" alt="">
                        </div>

                        <div class="badge-content-right">
                            <table cellspacing="20px" cellpadding="20px">
                                <tr th:each="user, iterStat:${currentUser}" style="color: palevioletred;font-size: 25px">
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                </tr>
                            </table>

                            <table>
                                <tr>
                                    <th><img th:src="@{'/images/goldstar.png'}" alt=""></th>
                                    <th><img th:src="@{'/images/silverstar.png'}" alt=""></th>
                                    <th><img th:src="@{'/images/bronzestar.png'}" alt=""></th>
                                </tr>
                                <tr th:each="user,iterStat:${currentUser}">
                                    <td th:text="${user.badge.goldBadge}"></td>
                                    <td th:text="${user.badge.silverBadge}"></td>
                                    <td th:text="${user.badge.bronzeBadge}"></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    </div>

<footer th:insert="layouts/common.html :: footer"></footer>
</body>
</html>